if SHIELD_HAMMER_LEFT

config ZMK_KEYBOARD_NAME
    default "hammer3"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HAMMER_LEFT || SHIELD_HAMMER_RIGHT

config ZMK_SPLIT
    default y

endif
