/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 / {
	behaviors {
		os_key_tap: os_key_tap {
			compatible = "zmk,os-key-tap";
			label = "OSK_TAP";
			#binding-cells = <0>;
		};
	};
};
