
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        // NONE (0, 0000) is non-conditional
        // A (1, 1000) is non-conditional
        // B (2, 0100) is non-conditional
        ab {     // 1100
            if-layers = <1 2>;
            then-layer = <3>;
        };
        // C (4, 0010) is non-conditional
        ac {    // 1010
            if-layers = <1 4>;
            then-layer = <5>;
        };
        bc {    // 0110
            if-layers = <2 4>;
            then-layer = <6>;
        };
        abc {   // 1110
            if-layers = <1 2 4>;
            then-layer = <7>;
        };
        // D (8, 0001) is non-conditional
        ad {    // 1001
            if-layers = <1 8>;
            then-layer = <9>;
        };
        bd {    // 0101
            if-layers = <2 8>;
            then-layer = <10>;
        };
        abd {   // 1101
            if-layers = <1 2 8>;
            then-layer = <11>;
        };
        cd {    // 0011
            if-layers = <4 8>;
            then-layer = <12>;
        };
        acd {   // 1011
            if-layers = <1 4 8>;
            then-layer = <13>;
        };
        bcd {   // 0111
            if-layers = <2 4 8>;
            then-layer = <14>;
        };
        abcd {  // 1111
            if-layers = <1 2 4 8>;
            then-layer = <15>;
        };
    };

    macros {
        undo_winlin: undo_winlin {
            label = "undo_winlin";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp Z>
                , <&macro_release &kp LCTRL>
                ;
        };

        undo_osx: undo_osx {
            label = "undo_osx";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp Z>
                , <&macro_release &kp LCMD>
                ;
        };

        redo_winlin: redo_winlin {
            label = "redo_winlin";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp Y>
                , <&macro_release &kp LCTRL>
                ;
        };

        redo_osx: redo_osx {
            label = "redo_osx";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp Y>
                , <&macro_release &kp LCMD>
                ;
        };

        shifttab: shifttab {
            label = "shifttab";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LSHFT>
                ;
        };

        shiftgrave: shiftgrave {
            label = "shiftgrave";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp GRAVE>
                , <&macro_release &kp LSHFT>
                ;
        };

        cut_winlin: cut_winlin {
            label = "cut_winlin";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp X>
                , <&macro_release &kp LCTRL>
                ;
        };

        cut_osx: cut_osx {
            label = "cut_osx";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp X>
                , <&macro_release &kp LCMD>
                ;
        };

        copy_winlin: copy_winlin {
            label = "copy_winlin";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>
                ;
        };

        copy_osx: copy_osx {
            label = "copy_osx";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCMD>
                ;
        };

        paste_winlin: paste_winlin {
            label = "paste_winlin";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp V>
                , <&macro_release &kp LCTRL>
                ;
        };

        paste_osx: paste_osx {
            label = "paste_osx";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            #winlin_binding-cells = <0>;
            #osx_binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp V>
                , <&macro_release &kp LCMD>
                ;
        };
    };

    os_keys {
        mod1: mod1 {
            label = "control";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&kp LCTRL>;
            osx_binding = <&kp LCTRL>;
        };

        mod2: mod2 {
            label = "meta";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&kp LWIN>;
            osx_binding = <&kp LALT>;
        };
        mod3: mod3 {
            label = "alt";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&kp LALT>;
            osx_binding = <&kp LCMD>;
        };

        undo: undo {
            label = "undo";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&undo_winlin>;
            osx_binding = <&undo_osx>;
        };

        redo: redo {
            label = "redo";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&redo_winlin>;
            osx_binding = <&redo_osx>;
        };

        cut: cut {
            label = "cut";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = &cut_winlin;
            osx_binding = &cut_osx;
        };

        copy: copy {
            label = "copy";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&copy_winlin>;
            osx_binding = <&copy_osx>;
        };

        paste: paste {
            label = "paste";
            compatible = "zmk,behavior-os-key";
            #binding-cells = <0>;
            winlin_binding = <&paste_winlin>;
            osx_binding = <&paste_osx>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

        default_layer {
/* QWERTY
    Left Hand                                                 L. Thumb                              R. Thumb    Right Hand
	┌────────┬────────┬────────┬────────┬────────┬────────┐                                                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
	│  ESC   │    Q   │   W    │   E    │   R    │   T    │                                                    │    Y   │   U    │   I    │    O   │   P    │ BKSPC  │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│  TAB   │    A   │   S    │   D    │   F    │   G    |                                                    │    H   │   J    │   K    │    L   │   ;    │ ENTER  │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│  SHIFT │    Z   │   X    │   C    │   V    │   B    │                                                    │    N   │   M    │   , <  │  . >   │   / ?  │ R SHFT │
	├────────┼────────┼────────┼────────┼────────┼────────┤  ┌────────┐┌────────┐        ┌────────┐┌────────┐  ├────────┼────────┼────────┼────────┼────────┼────────┤
	│  CTL   │  GUI   │  ALT   │  FN 8  │  FN 2  │  SPACE │  │  FN 1  ││  FN 4  │        │  FN 8  ││  FN 2  │  │ SPACE  │  FN 1  │  FN 4  │  ALT   │  GUI   │  CTL   │
	└────────┴────────┴────────┴────────┴────────┴────────┘  └────────┘└────────┘        └────────┘└────────┘  └────────┴────────┴────────┴────────┴────────┴────────┘

 */
                        bindings = <
&kp  ESC   &kp  Q    &kp  W   &kp  E   &kp  R   &kp  T                                              &kp  Y        &kp  U   &kp  I        &kp  O    &kp  P      &kp  BSPC
&kp  TAB   &kp  A    &kp  S   &kp  D   &kp  F   &kp  G                                              &kp  H        &kp  J   &kp  K        &kp  L    &kp  SEMI   &kp  ENTER
&kp  LSHFT &kp  Z    &kp  X   &kp  C   &kp  V   &kp  B        &mo  4                    &mo  8      &kp  N        &kp  M   &kp  COMMA    &kp  DOT  &kp  SLASH  &kp  RSHFT
&mod1      &mod2     &mod3    &mo  8   &mo  2   &kp  SPACE    &mo  1                    &mo  2      &kp  SPACE    &mo  1   &mo  4        &mod3     &mod2       &mod1
            >;
        };

        a {  // 1
/* Text Editing / Navigation
	Left Hand                                                 L. Thumb                              R. Thumb    Right Hand
	┌────────┬────────┬────────┬────────┬────────┬────────┐                                                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
	│    `   │ SHFT+` │  UNDO  │  REDO  │  HOME  │ PG.UP  │                                                    │    K   │ BKSPC  │   UP   │  DEL   │ INSERT │ PRTSCR │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │SHFT+TAB│ L CTL  │ L ALT  │   END  │ PG.DN  │                                                    │    J   │ LEFT   │  DOWN  │  RIGHT │ XXXXXX │        │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │ CUT    │  COPY  │ PASTE  │ XXXXXX │        │
	├────────┼────────┼────────┼────────┼────────┼────────┤  ┌────────┐┌────────┐        ┌────────┐┌────────┐  ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │        │        │        │        │        │  │        ││        │        │        ││        │  │        │        │        │        │        │        │
	└────────┴────────┴────────┴────────┴────────┴────────┘  └────────┘└────────┘        └────────┘└────────┘  └────────┴────────┴────────┴────────┴────────┴────────┘
 */
                        bindings = <
&kp GRAVE &shiftgrave  &undo        &redo        &kp HOME     &kp PG_UP                                     &kp K        &kp BSPC     &kp UP       &kp DEL      &kp INS     &kp PSCRN
&trans    &shifttab    &kp LCTRL    &kp LALT     &kp END      &kp PG_DN                                     &kp J        &kp LEFT     &kp DOWN     &kp RIGHT    &none       &trans
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &cut         &copy        &paste       &none       &trans
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        b {  // 2
/* Symbols
	Left Hand                                                 L. Thumb                              R. Thumb    Right Hand
	┌────────┬────────┬────────┬────────┬────────┬────────┐                                                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
	│  ` ~   │    !   │    @   │   #    │   $    │   %    │                                                    │   ^    │   &    │   *    │   (    │    )   │        │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │ XXXXXX │    |   │   _    │   +    │   {    │                                                    │   }    │   "    │   <    │   >    │   ?    │        │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │ XXXXXX │    \   │   -    │   =    │   [    │                                                    │   ]    │   '    │   ,    │   .    │   /    │        │
	├────────┼────────┼────────┼────────┼────────┼────────┤  ┌────────┐┌────────┐        ┌────────┐┌────────┐  ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │        │        │        │        │        │  │        ││        │        │        ││        │  │        │        │        │        │        │        │
	└────────┴────────┴────────┴────────┴────────┴────────┘  └────────┘└────────┘        └────────┘└────────┘  └────────┴────────┴────────┴────────┴────────┴────────┘
 */
                        bindings = <
&kp GRAVE &kp EXCL     &kp AT       &kp POUND    &kp DOLLAR   &kp PERCENT                                   &kp CARET    &kp AMPS     &kp ASTRK    &kp LPAR     &kp RPAR    &trans
&trans    &none        &kp PIPE     &kp UNDER    &kp PLUS     &kp LBRC                                      &kp RBRC     &kp DQT      &kp LT       &kp GT       &kp QMARK   &trans
&trans    &none        &kp BSLH     &kp MINUS    &kp EQUAL    &kp LBKT  &trans                 &trans       &kp RBKT     &kp APOS     &kp COMMA    &kp DOT      &kp SLASH   &trans
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        ab {  // 3
/* ? / F Keys
    Left Hand                                                 L. Thumb                              R. Thumb    Right Hand
	┌────────┬────────┬────────┬────────┬────────┬────────┐                                                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
	│        │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │  F1    │  F2    │  F3    │  F4    │    F5  │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │  F6    │  F7    │  F8    │  F9    │   F10  │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │  F11   │  F12   │  F13   │  F14   │   F15  │
	├────────┼────────┼────────┼────────┼────────┼────────┤  ┌────────┐┌────────┐        ┌────────┐┌────────┐  ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │        │        │        │        │        │  │        ││        │        │        ││        │  │        │        │        │        │        │        │
	└────────┴────────┴────────┴────────┴────────┴────────┘  └────────┘└────────┘        └────────┘└────────┘  └────────┴────────┴────────┴────────┴────────┴────────┘

 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &kp F1       &kp F2       &kp F3       &kp F4      &kp F5
&trans    &none        &none        &none        &none        &none                                         &none        &kp F6       &kp F7       &kp F8       &kp F9      &kp F10
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &kp F11      &kp F12      &kp F13      &kp F14     &kp F15
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        c {  // 4
/* ? / Numpad
	Left Hand                                                 L. Thumb                              R. Thumb    Right Hand
	┌────────┬────────┬────────┬────────┬────────┬────────┐                                                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
	│        │  F13   │  F14   │  F15   │  F16   │        │                                                    │ NUM 0  │ NUM 1  │ NUM 2  │ NUM 3  │ NUM 4  │ NUM 5  │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │  F17   │  F18   │  F19   │  F20   │        │                                                    │   x    │ NUM 6  │ NUM 7  │ NUM 8  │ NUM 9  │    A   │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │  F21   │  F22   │  F23   │  F24   │        │                                                    │   #    │    B   │    C   │    D   │   E    │    F   │
	├────────┼────────┼────────┼────────┼────────┼────────┤  ┌────────┐┌────────┐        ┌────────┐┌────────┐  ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │        │        │        │        │        │  │        ││        │        │        ││        │  │        │        │        │        │        │        │
	└────────┴────────┴────────┴────────┴────────┴────────┘  └────────┘└────────┘        └────────┘└────────┘  └────────┴────────┴────────┴────────┴────────┴────────┘

 */
                        bindings = <
&trans    &kp F13   &kp F14    &kp F15   &kp F16   &none                                         &kp KP_N0    &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_N4   &kp KP_N5
&trans    &kp F17   &kp F18    &kp F19   &kp F20   &none                                         &kp X        &kp KP_N6    &kp KP_N7    &kp KP_N8    &kp KP_N9   &kp A
&trans    &kp F21   &kp F22    &kp F23   &kp F24   &none     &trans                 &trans       &kp POUND    &kp B        &kp C        &kp D        &kp E       &kp F
&trans    &trans    &trans     &trans    &trans    &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        ac {  // 5
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        bc {  // 6
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        abc {  // 7
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        d {  // 8
/* Media / Media
    Left Hand                                                 L. Thumb                              R. Thumb    Right Hand
	┌────────┬────────┬────────┬────────┬────────┬────────┐                                                    ┌────────┬────────┬────────┬────────┬────────┬────────┐
	│        │ VOL-   │  MUTE  │  VOL+  │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │ VOL-   │  MUTE  │  VOL+  │ XXXXXX │ XXXXXX │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │  <<    │   > || │  >>    │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │  <<    │   > || │  >>    │ XXXXXX │ XXXXXX │
	├────────┼────────┼────────┼────────┼────────┼────────┤                                                    ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │                                                    │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │ XXXXXX │
	├────────┼────────┼────────┼────────┼────────┼────────┤  ┌────────┐┌────────┐        ┌────────┐┌────────┐  ├────────┼────────┼────────┼────────┼────────┼────────┤
	│        │        │        │        │        │        │  │        ││        │        │        ││        │  │        │        │        │        │        │        │
	└────────┴────────┴────────┴────────┴────────┴────────┘  └────────┘└────────┘        └────────┘└────────┘  └────────┴────────┴────────┴────────┴────────┴────────┘
 */
                        bindings = <
&trans    &kp C_VOL_DN &kp C_MUTE   &kp C_VOL_UP &none        &none                                         &none        &kp C_VOL_DN &kp C_MUTE   &kp C_VOL_UP &none       &none
&trans    &kp C_PREV   &kp C_PP     &kp C_NEXT   &none        &none                                         &none        &kp C_PREV   &kp C_PP     &kp C_NEXT   &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        ad {  // 9
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        bd {  // 10
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        abd {  // 11
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        cd {  // 12
/* Bluetooth
 * .-----------------------------------------------                                    -----------------------------------------------.
 * | BT Clear |       |      |      |      |      |                                    |  BT 1 | BT 2 | BT 3 | BT 4 | BT 5 |          |
 * |----------+-------+------+------+------+------+                                    +-------+------+------+------+------+----------|
 * |          |       |      |TGL OS|  d    |      |                                    |       |      |      |      |      |          |
 * |----------+-------+------+------+------+------+                                    +-------+------+------+------+------+----------|
 * |          |       |      |      | BT PREV | BT NEXT |                              |       |      |      |      |      |          |
 * |----------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+----------|
 * |          |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |          |
 * .-------------------------------------------------------------        -------------------------------------------------------------.
 */
                        bindings = <
&bt BT_CLR &none        &none        &none           &none        &none                                         &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
&trans     &none        &none        &os_mode_toggle &none        &none                                         &none        &none        &none        &none        &none        &none
&trans     &none        &none        &none           &bt BT_PRV   &bt BT_NXT  &trans                 &trans     &none        &none        &none        &none        &none        &none
&trans     &trans       &trans       &trans          &trans       &trans      &trans                 &trans     &trans       &trans       &trans       &trans       &trans       &trans
            >;
        };

        acd {  // 13
/* ?
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        bcd {  // 14
/* Symbols
 * .--------------------------------------------                                    --------------------------------------------.
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans    &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans    &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };

        abcd {  // 15
/* Symbols
 * .--------------------------------------------                                    --------------------------------------------.
 * |BOOTLDR|       |      |      |      | RESET|                                    | RESET |      |      |      |      |BOOTLDR|
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+                                    +-------+------+------+------+------+-------|
 * |       |       |      |      |      |      |                                    |       |      |      |      |      |       |
 * |-------+-------+------+------+------+------+------+------+        -------+------+-------+------+------+------+------+-------|
 * |       |       |      | L8_D | L2_B |      | L1_A | L4_C |        | L8_D | L2_B |       | L1_A | L4_C |      |      |       |
 * .----------------------------------------------------------        ----------------------------------------------------------.
 */
                        bindings = <
&bootloader &none        &none        &none        &none        &reset                                        &reset       &none        &none        &none        &none       &bootloader
&trans      &none        &none        &none        &none        &none                                         &none        &none        &none        &none        &none       &none
&trans      &none        &none        &none        &none        &none     &trans                 &trans       &none        &none        &none        &none        &none       &none
&trans      &trans       &trans       &trans       &trans       &trans    &trans                 &trans       &trans       &trans       &trans       &trans       &trans      &trans
            >;
        };
    };
};